.banner {
  position:relative;
  margin-bottom: 4em;


  .page-header {
    border-bottom:0.5em solid $gray;
    padding:0 1em;
    margin-bottom:-4em;
    
    
    .entry-title {
      font-size: 2.5em;
      margin:0 0 1em 0;
      
      @include breakpoint($s1) {
        //margin-top:2em;
      }

      @include breakpoint($s2) {
        width:66%;
        //margin-top:4em;
      }
      @include breakpoint($s3) {
          width:66%;
          //margin-top:5em;
      }
   
  }

  }


  .parent-pageid-31 & {
      background: $purple;
      }
  .parent-pageid-33 & {
        background: $sand;
      }
  .parent-pageid-34 & {
        background: $skin;
      }
  .parent-pageid-36 & {
        background: $cyan;
      }
  .parent-pageid-38 & {
        background: $sky;
      }



}






.brand {
  @include box-sizing('border-box');
  text-align: center;
  display: block;
  //background: $sky;  
  //width:75%;
  margin:0 auto;
  //padding:1em 1em;
  @include breakpoint($s2) {
    position:absolute;
    left:0; right:0;
    width:25%;
    margin:2em auto 0 auto;
  }
  @include breakpoint($s3) {
    position:absolute;
    left:0; right:0;
    width:30%;
    margin:2em auto 0 auto;
      
  }
}



.akcio-fej {
  font-size: 0.875em;
  h3 {
    margin-bottom:0;    
  }
  .akcio-title {
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    line-height:1.125em;
    font-size: 1.5em;
    margin: 0 0 0.5em;

    a {
      text-decoration: none;      
      color:$gray;

    }  
  }
  .btn {
    font-size:0.875em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-right:2em;
    &:after {
      font-size: 2em;
      line-height: 0em;
    } 
  }


}