.herowrap {
  //position: relative;
  //overflow: hidden;
  //z-index:-1;
  margin-top:-362px;
  padding-top: 280px;
  padding-bottom: 50px;
  background-image: url('../img/head_bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  //background-attachment: fixed;
  background-color:$white;
  @include background-size(cover);

  @include breakpoint($s1) {
    margin-top:-312px;

  }

  @include breakpoint($s2) {
     margin-top:-240px;

  }
  @include breakpoint($s3) {
      margin-top:-240px;

  }




  .heroblokk {
    padding:1em 1em;
    margin:0 auto;
    
    @include breakpoint($s1) {
    

    }

    @include breakpoint($s2) {
        width:75%;

    }
    @include breakpoint($s3) {
        width:66%;

    }

    
    p{

      display: inline;
      font-size:2em;
      background: rgba($gray-light,0.50);
      line-height: 1.75em;
      font-weight: 700;
      color:$white-light;
    }

  }
}
.actionwrap{

  border-top:0.5em solid $gray;

  background: $skin;
  
  @include breakpoint($s2) {
    @include background(linear-gradient(to right, $skin 50%, $white-light 50%));
  }
  
  @include breakpoint($s3) {
    @include background(linear-gradient(to right, $skin 50%, $white-light 50%));
  }

  .btn {
      font-size:1em;
      float:right;
      padding-right:1.5em;

     
      
  }

  .akcio-title {
      margin:0.5em 0 0.5em;
      font-size:1.5em;
      font-weight: 400;
      font-style:italic;
      text-transform:none;
      letter-spacing: 0;
      line-height: 1.125em;
      a {
        color:$gray-dark;
        text-decoration: none;
      }
    }
  

  .akcio {
    @include box-sizing('border-box');
    padding:1em;
    
    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    
    h3 {
      margin-top:1em;
      margin-bottom:0;

    }

    .megtak {
      margin-top:0;
      font-size: 0.875em;
      font-style:italic;
    }


   

    .idotartam {
      margin:2em 0 1em;
      font-size: 0.75em;
      font-style: italic;
      i {   
        margin-right:0.125em;
      }

      span {
          //display: block;
      }
    }
  

  }

  .ajandekut {
    @include box-sizing('border-box');
    padding:1em;
    background: $white-light;

    @include breakpoint($s2) {
      float:left;
      width:50%;
      background: none;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
      background: none;
    }

    h3 {
      margin:1em 0;
    }
    .akcio-title{
      a {
        color:$skin;
      }
    }

  }

}




 .homegyujtowrap {

  header{
    padding:1em;
    text-align: center;
    h2{
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
      font-weight: 400;
    }
  }

  .homekezike {
    padding:1em 1em;
    margin-bottom:1em;
    text-align: center;
    @include box-sizing('border-box');
    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    a.hentry{
      display:inline-block;
      font-size: 5em;
      text-decoration: none;
      background: $orange;
      width:1.8em;
      height:1.8em;
      border-radius: 50%;
      color:$gray-light;

      @include transition-property(border-radius,background-color);
      @include transition-duration(100ms);
      @include transition-timing-function(ease-in); 
    


      &:hover, &:focus {
        background-color:lighten($gray-lighter,10%);
        color:$gray;
        border-radius: 0;
      }
      



      &.post-31 {
        background:url('../img/ikon_tukor.png') no-repeat center center $purple;
      }
      &.post-33 {
        background:url('../img/ikon_anya.png') no-repeat center center $sand;
      }
      &.post-34 {
        background:url('../img/ikon_spiral.png') no-repeat center center $skin;
      }
      &.post-36 {
        background:url('../img/ikon_szor.png') no-repeat center center $cyan;
      }
      &.post-38 {
        background:url('../img/ikon_pumpa.png') no-repeat center center $sky;
      }


      @include breakpoint($s3) {
        float:left;
        margin-top:7%;
        margin-right:5%;
        margin-bottom:10%;
      }



      i{
        line-height:1.8em;       
      }
    }

    




    
    h3 {
      font-weight: 400;

      @include breakpoint($s3) {
        text-align: left;
      }

      a {
        color:$gray-light;
        text-decoration: none;
        &:hover, &:focus {
          color:$gray-darker;
        }
      }
    }

    .intro {
      text-align: left;
    }
    

    .buti {
      display:block;
      text-align:right;
      font-size: 0.875em;
      font-weight: bold;
      font-style: italic;
      


      //clear:both;
      @include breakpoint($s3) {
       text-align: left;
      }
    }

  }
 }

.eszkozokwrap {
  background: lighten($gray-lighter,15%);



  header{
    padding:1em;
    text-align: center;
    h2{
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
      font-weight: 400;
    }
  }
  .eszkoz {
    padding:1em 1em;
    margin-bottom:2em;
    @include box-sizing('border-box');
    @include breakpoint($s2) {
      float:left;
      width:33%;
    }
    @include breakpoint($s3) {
      float:left;
      width:33%;
    }
  

    figure {
      text-align: center;
      a {
        &:hover, &:focus {
          img{
            @include transition-property(border);
            @include transition-duration(200ms);
            @include transition-timing-function(ease-in); 
            border:5px solid $gray-light;
          }
        }
      }
      img{
        border-radius: 50%;
        border:5px solid $gray-lighter;
      }
    }
    h3 {
      font-weight: 400;
      text-transform: none;
      text-align: center;
      a {
        color:$gray;
        letter-spacing: 0;
        text-decoration: none;
        &:hover, &:focus {
          color:$gray-darker;
        }
      }
    }

    .buti {
      font-size: 0.875em;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      display: block;
    }


  }
 
 }


.bemutatkozowrap{
  background: $gray;
  color:$white;
  padding:3em 0;
  
  figure {

    @include box-sizing('border-box');
    padding:0 1em;
    text-align: center;

    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    img {
      border-radius:50%;
      border:6px solid $white;
    }

  }
  .colcsi {
    @include box-sizing('border-box');
    padding:0 1em;


    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    h3{

    }

  }

}


.brandswrap{
  padding:3em 0;

  .colcsi1 {
    @include box-sizing('border-box');
    padding:1em 1em;


    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }
    
    .conti {
      font-size:1.5em;
      //line-height: 1.125em;
    }



  }



}
