.herowrap {
  //position: relative;
  //overflow: hidden;
  //z-index:-1;
  margin-top:-395px;
  padding-top: 330px;
  padding-bottom: 50px;
  background-image: url('../img/head_bg_small.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  //background-attachment: fixed;
  background-color:#b2b4a7;
  background-size:auto 100%;

  @include breakpoint($s1) {
    margin-top:-347px;
    padding-top: 270px;

  }

  @include breakpoint($s2) {
    background-image: url('../img/head_bg.jpg');
     margin-top:-242px;
     padding-top: 240px;

  }
  @include breakpoint($s3) {
      //margin-top:-340px;

  }




  .heroblokk {
    padding:1em 1em;
    //margin:0 auto;
    
    @include breakpoint($s1) {
    

    }

    @include breakpoint($s2) {
        width:85%;

    }
    @include breakpoint($s3) {
        width:75%;

    }

    
    p{

      display: inline;
      font-size:1.25em;
      line-height: 1.75em;
      background: rgba($gray,0.7);
      box-shadow: 10px 0 0 rgba($gray,0.7), -10px 0 0 rgba($gray,0.7);
      padding:2px 0;

      font-weight: 700;
      //@include text-shadow(0 0 20px black);
      //text-transform: uppercase;
      color:$white;
      transform:translateX(10px);
      @include breakpoint($s1) {
        font-size:1.25em;
        line-height: 1.75em;
      }
      @include breakpoint($s2) {
        font-size:1.75em;
        line-height: 1.75em;
      }
    }
    .btn {
      margin-top:1.5em;
      //float:right;
    }

  }
}
.actionwrap{

   

  border-top:8px solid $gray;

  background: $skin;
  
  @include breakpoint($s2) {
   background-image: linear-gradient(to right, $skin 50%, $white-light 50%);
  }
  
  @include breakpoint($s3) {
    background-image:linear-gradient(to right, $skin 50%, $white-light 50%);
  }

  .btn {
      font-size:1em;
      float:right;
      width:2em;
      height:2em;
      padding:0;
      text-align: center;
      i{
        line-height:1.875em;
      }

  }

  .akcio-title {
      margin:0.5em 0 0.5em;
      font-size:1.5em;
      font-weight: 400;
      font-style:italic;
      text-transform:none;
      letter-spacing: 0;
      line-height: 1.125em;
      a {
        color:$gray-dark;
        text-decoration: none;
      }
    }
  

  .akcio {
    box-sizing:border-box;
    padding:1em;
    
    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    
    h3 {
      margin-top:1em;
      margin-bottom:0;

    }

    .megtak {
      margin-top:0;
      font-size: 0.875em;
      font-style:italic;
    }


   

    .idotartam {
      margin:2em 0 1em;
      font-size: 0.75em;
      font-style: italic;
      i {   
        margin-right:0.125em;
      }

      span {
          //display: block;
      }
    }
  

  }

  .ajandekut {
    box-sizing:border-box;
    padding:1em;
    background: $white-light;

    @include breakpoint($s2) {
      float:left;
      width:50%;
      background: none;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
      background: none;
    }

    h3 {
      margin:1em 0;
    }
    .akcio-title{
      a {
        color:$skin;
      }
    }

  }

}




 .homegyujtowrap {
  padding:2em 0 4em;

  header{
    padding:1em;
    text-align: center;
    h2{
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
      font-weight: 400;
    }
  }

  .homekezike {
    padding:1em 1em;
    margin-bottom:1em;
    text-align: center;
    box-sizing:border-box;
    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }

    a.hentry{
      display:inline-block;
      font-size: 1em;
      text-decoration: none;
      background: $orange;
      width:6em;
      height:6em;
      border-radius: 50%;
      color:$gray-light;

      background-size:cover;

      transition-property:border-radius,background-color;
      transition-duration:100ms;
      transition-timing-function:ease-in; 
    


      &:hover, &:focus {
        background-color:lighten($gray-lighter,10%);
        color:$gray;
        border-radius: 0;
      }
      



      &.post-31 {
        background:url('../img/ikon_tukor.png') no-repeat center center $purple;
        background-size:cover;
      }
      &.post-33 {
        background:url('../img/ikon_szaj.png') no-repeat center center $sand;
        background-size:cover;
      }
      &.post-34 {
        background:url('../img/ikon_spiral.png') no-repeat center center $skin;
        background-size:cover;
      }
      &.post-36 {
        background:url('../img/ikon_szor.png') no-repeat center center $cyan;
        background-size:cover;
      }
      &.post-38 {
        background:url('../img/ikon_oktatas.png') no-repeat center center $sky;
        background-size:cover;
      }


      @include breakpoint($s3) {
        float:left;
        margin-top:7%;
        margin-right:5%;
        margin-bottom:10%;
      }



      i{
        line-height:1.8em;       
      }
    }

    




    
    h3 {
      font-weight: 400;

      @include breakpoint($s3) {
        text-align: left;
      }

      a {
        color:$gray-light;
        text-decoration: none;
        &:hover, &:focus {
          color:$gray-darker;
        }
      }
    }

    .intro {
      text-align: left;
    }
    

    .buti {
      display:block;
      text-align:right;
      font-size: 0.875em;
      font-weight: bold;
      font-style: italic;
      


      //clear:both;
      @include breakpoint($s3) {
       text-align: left;
       margin-left:8.66666667em;
      }
    }

  }
 }

.eszkozokwrap {
  background: lighten($gray-lighter,15%);



  header{
    padding:1em;
    text-align: center;
    h2{
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
      font-weight: 400;
    }
  }
  .eszkoz {
    padding:1em 1em;
    margin-bottom:2em;
    box-sizing:border-box;
    @include breakpoint($s2) {
      float:left;
      width:33%;
    }
    @include breakpoint($s3) {
      float:left;
      width:33%;
    }
  

    figure {
      text-align: center;
      a {
        &:hover, &:focus {
          img{
            transition-property:border;
            transition-duration:200ms;
            transition-timing-function:ease-in; 
            border:5px solid $gray-light;
          }
        }
      }
      img{
        border-radius: 50%;
        border:5px solid $gray-lighter;
      }
    }
    h3 {
      font-weight: 400;
      text-transform: none;
      text-align: center;
      a {
        color:$gray;
        letter-spacing: 0;
        text-decoration: none;
        &:hover, &:focus {
          color:$gray-darker;
        }
      }
    }

    .buti {
      font-size: 0.875em;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      display: block;
    }


  }
 
 }


.bemutatkozowrap{
  //background: $gray;
  //color:$white;
  padding:5em 0;
  
  figure {

    box-sizing:border-box;
    padding:0 1em;
    text-align: center;

    @include breakpoint($s2) {
      float:left;
      width:50%;
      margin-top: 5em;      
    }

    img {
      border-radius:50%;
      border:6px solid $gray-lighter;
      max-width: 75%;

      @include breakpoint($s1) {
        max-width: 389px;
      }
    }

  }
  .colcsi {
    box-sizing:border-box;
    padding:0 1em;


    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    h3{
      margin-bottom:0;

    }
    p {
      //font-size: .875em;
      
      &:first-of-type {
        margin-top: 0;
        font-style: italic;
      }
    }


  }


  &:nth-of-type(2n) {
    background: lighten($gray-lighter,15%);
    // background: $gray;
    // color:$white;
  }
  
  &:nth-of-type(2n) figure{
    @include breakpoint($s2) {
      float:right;
      width:50%;      
    }
  }

  &:nth-of-type(2n) .colcsi{
    @include breakpoint($s2) {
      float:left;
      width:50%;      
    }
  }

}





.brandswrap{
  
  padding:3em 0;

  .colcsi1 {
    box-sizing:border-box;
    padding:1em 1em;


    @include breakpoint($s2) {
      float:left;
      width:50%;
    }
    @include breakpoint($s3) {
      float:left;
      width:50%;
    }
    
    .conti {
      font-size:1.5em;
      //line-height: 1.125em;
    }



  }



}
