.herowrap {
  min-height: 22em;
  position: relative;

  //background-color: $gray-lighter;
  background-image: url('../img/head_bg_old.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  //box-shadow: $black 0px 5px 0 5px inset;

  @include breakpoint($s1) {
  }
  @include breakpoint($s2) {
    //background-image: url('../img/head_bg_old_small.jpg');
    min-height: 0;
    padding-top: 45%;
  }
  @include breakpoint($s3) {
  }
  .heroblokk {
    color:$white;
    font-size: 1;

    padding: 1em 1em;

    @include breakpoint($s1) {
      position: absolute;
      bottom:2em;
    }
    @include breakpoint($s2) {
      bottom:3em;
    }
    @include breakpoint($s4) {
      bottom:4em;
    }
    h3 {
      letter-spacing: 0;
      margin:0;
      font-size: 1.75em;
      text-transform: none;
      font-weight: 700;
    }
    p {
      font-weight: 700;
      margin:0;
      a {
        color:$berry;
      }
       @include breakpoint($s1) {
        margin-left: 1.75em;
      }
    }

    .btn {
      //float:right;
    }
  }
}
.actionwrap {
  color: $white;
  background-color: $gray-new;

  @include breakpoint($s2) {
    //background-image: linear-gradient(to right, $skin 50%, $white-light 50%);

  }
  @include breakpoint($s3) {
    //background-image:linear-gradient(to right, $skin 50%, $white-light 50%);
  }
  .btn {
    display: inline-block;
    font-size: .875em;
    line-height: 1;

    //width: 2em;
    //height: 2em;
    padding: 0;
    background-color: $berry;
    color:$white;
    font-weight: 800;
    padding:.875em 1.75em;
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;

    text-align: center;
    margin-top: .75em;

    @include breakpoint($s1) {
      position: absolute;
      margin-top: 0;
      top:50%;
      transform:translateY(-1.25em);
      right:3em;
    }

    &:hover, &:focus {
      background-color: #000;
    }
  }
  .akcio__title {
    font-size: 1.125em;
    font-weight: 800;
    line-height: 1.125em;
    margin: 0 0 .125em;

    letter-spacing: 0;
    //text-transform: none;
    color:$berry;
    a {
      text-decoration: none;

      color: inherit;
    }
  }
  .akcio {
    box-sizing: border-box;
    padding: 1.25em 1em;


    @include breakpoint($s1) {
      padding: 1.25em 3em;

    }

    @include breakpoint($s2) {
    }

    @include breakpoint($s3) {

    }

    .akcio__discl {
      font-size: .875em;
      line-height: 1.25;

      margin: 0;
    }

  }
}




.homegyujtowrap {
  padding: 2em 0 4em;
  header {
    padding: 1em;

    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    h3 {
      font-weight: 400;

      margin-top: 0;
    }
  }
  .homekezike {
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em 1em;

    text-align: center;

    @include breakpoint($s2) {
      float: left;

      width: 50%;
    }
    @include breakpoint($s3) {
      float: left;

      width: 50%;
    }
    a.hentry {
      font-size: 1em;

      display: inline-block;

      width: 6em;
      height: 6em;

      transition-timing-function: ease-in;
      transition-duration: 100ms;
      transition-property: border-radius,background-color;
      text-decoration: none;

      color: $gray-light;
      border-radius: 50%;
      background: $orange;
      background-size: cover;

      @include breakpoint($s3) {
        float: left;

        margin-top: 7%;
        margin-right: 5%;
        margin-bottom: 10%;
      }
      &:hover, &:focus {
        color: $gray;
        border-radius: 0;
        background-color: lighten($gray-lighter,10%);
      }
      &.post-31 {
        background: url('../img/ikon_tukor.png') no-repeat center center $purple;
        background-size: cover;
      }
      &.post-33 {
        background: url('../img/ikon_szaj.png') no-repeat center center $sand;
        background-size: cover;
      }
      &.post-34 {
        background: url('../img/ikon_spiral.png') no-repeat center center $skin;
        background-size: cover;
      }
      &.post-36 {
        background: url('../img/ikon_szor.png') no-repeat center center $cyan;
        background-size: cover;
      }
      &.post-38 {
        background: url('../img/ikon_oktatas.png') no-repeat center center $sky;
        background-size: cover;
      }
      i {
        line-height: 1.8em;
      }
    }
    h3 {
      font-weight: 400;

      @include breakpoint($s3) {
        text-align: left;
      }
      a {
        text-decoration: none;

        color: $gray-light;
        &:hover, &:focus {
          color: $gray-darker;
        }
      }
    }
    .intro {
      text-align: left;
    }
    .buti {
      font-size: .875em;
      font-weight: bold;
      font-style: italic;

      display: block;

      text-align: right;
      //clear:both;

      @include breakpoint($s3) {
        margin-left: 8.66666667em;

        text-align: left;
      }
    }
  }
}

.eszkozokwrap {
  background: lighten($gray-lighter,15%);
  header {
    padding: 1em;

    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    h3 {
      font-weight: 400;

      margin-top: 0;
    }
  }
  .eszkoz {
    box-sizing: border-box;
    margin-bottom: 2em;
    padding: 1em 1em;

    @include breakpoint($s2) {
      float: left;

      width: 33%;
    }
    @include breakpoint($s3) {
      float: left;

      width: 33%;
    }
    figure {
      text-align: center;
      a {
        &:hover, &:focus {
          img {
            transition-timing-function: ease-in;
            transition-duration: 200ms;
            transition-property: border;

            border: 5px solid $gray-light;
          }
        }
      }
      img {
        border: 5px solid $gray-lighter;
        border-radius: 50%;
      }
    }
    h3 {
      font-weight: 400;

      text-align: center;
      text-transform: none;
      a {
        text-decoration: none;
        letter-spacing: 0;

        color: $gray;
        &:hover, &:focus {
          color: $gray-darker;
        }
      }
    }
    .buti {
      font-size: .875em;
      font-weight: bold;
      font-style: italic;

      display: block;

      text-align: right;
    }
  }
}


.bemutatkozowrap {
  //background: $gray;
  //color:$white;
  padding: 5em 0;
  figure {
    box-sizing: border-box;
    padding: 0 1em;

    text-align: center;

    @include breakpoint($s2) {
      float: left;

      width: 50%;
      margin-top: 5em;
    }
    img {
      max-width: 75%;

      border: 6px solid $gray-lighter;
      border-radius: 50%;

      @include breakpoint($s1) {
        max-width: 389px;
      }
    }
  }
  .colcsi {
    box-sizing: border-box;
    padding: 0 1em;

    @include breakpoint($s2) {
      float: left;

      width: 50%;
    }
    h3 {
      margin-bottom: 0;
    }
    p {
      //font-size: .875em;
      &:first-of-type {
        font-style: italic;

        margin-top: 0;
      }
    }
  }
  &:nth-of-type(2n) {
    background: lighten($gray-lighter,15%);
    // background: $gray;
    // color:$white;
  }
  &:nth-of-type(2n) figure {
    @include breakpoint($s2) {
      float: right;

      width: 50%;
    }
  }
  &:nth-of-type(2n) .colcsi {
    @include breakpoint($s2) {
      float: left;

      width: 50%;
    }
  }
}





.brandswrap {
  padding: 3em 0;
  .colcsi1 {
    box-sizing: border-box;
    padding: 1em 1em;

    @include breakpoint($s2) {
      float: left;

      width: 50%;
    }
    @include breakpoint($s3) {
      float: left;

      width: 50%;
    }
    .conti {
      font-size: 1.5em;
      //line-height: 1.125em;
    }
  }
}
