.blogitemwrap {
 
}
.articlewrap {
}

.pagewrap {
  article {
    padding:0 1em;
  }

}

.blogitemwrap, .articlewrap{
  
  .entry-figure {
    text-align: center;
    //@include box-sizing('border-box');
    padding:0.75em 0 0;
    
    
    a {

      &:hover, &:focus {
        img{
          border:5px solid $gray-lighter;
        }
      
      }
    }
    img{
      @include transition-property(border);
      @include transition-duration(200ms);
      @include transition-timing-function(ease-in); 
      border-radius: 50%;
      border:5px solid lighten($gray-lighter,15%);
    }

  }

  footer {
    @include box-sizing('border-box');
    padding:0 1em;
    @include breakpoint($s2) {
      float:right;
      width:66%;
    }
    @include breakpoint($s3) {
      float:right;
      width:66%;
    }

  }
}

.entry-side {
  @include box-sizing('border-box');
  padding:0 1em;
  @include breakpoint($s2) {
    float:left;
    width:34%;
    margin-bottom:7em;
  }
  @include breakpoint($s3) {
    float:left;
    width:34%;
    margin-bottom:7em;
  }
}

.entry-intro {
  font-size:1.75em;
  font-weight: bold;
  margin-bottom: 2em;

}

.entry-testimon {

}

.entry-actionblock {
  margin:1.5em 0 2em;
  font-size: 2em;
  font-style: italic;
  font-weight:800;
  color:$orange;
  text-transform: uppercase;
  line-height:1em;

  .tel, .online {
    margin:0.75em 0em;
    position:relative;
    padding-left:3em;
    display: block;
    color:$orange;
    text-decoration: none;
    display:block;
    &:hover, &:focus {
      color:darken($orange,20%);
    }

    &:hover:before, &:focus:before {
      background:darken($orange,20%);

    }

    &:before {
      @include box-sizing('border-box');
      position: absolute;
      left:0;
      //top:-0.25em;
      text-align: center;
      font-family: 'EntypoRegular';
      font-weight: normal;
      content:'\1F4DE';
      color:$white;
      background: $orange;
      font-size:2em;
      //padding-top:0.25em;
      line-height:1.2em;
      border-radius:1em;
      width:1.2em;
      height:1.2em;
    }
  }
  .tel {
    span {
      font-size:1em;
      font-weight: 300;
      display:block;
      margin-top:0.125em;
    }
  }

  .online {
    &:before {
      content:'\E789';
    }
  }

}

.entry-content {
  @include box-sizing('border-box');
  margin-bottom:2em;
  padding:1em 1em;
  @include breakpoint($s2) {
    float:right;
    width:66%;
  }
  @include breakpoint($s3) {
    float:right;
    width:66%;
  }

  .entry-title {
    margin-top:0;
    a{
      color:$gray-light;
      text-decoration: none;
      &:hover, &:focus {
          color:$gray-darker;
      }

    }
  }
} 

.kommentnyito {
  @include box-sizing('border-box');
  position:absolute;
  bottom:100%;
  left:35.66666%;
  padding:1.125em 1em 1em;
  margin-bottom: 12px;
  display: inline-block;
  //width:4em;
  //height:4em;
  text-align: center;
  background: lighten($gray-lighter,15%);
  color:$gray;
 
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75em;
  &:hover, &:focus {
    text-decoration: none;
    background:$gray-lighter;
    color:$gray-darker;
  }

  i{
    font-size:3em;
    //line-height: 0;
    //padding-top: 1.75em;
  }

}

.commentswrap {
  //display: none;
  border-top:12px solid lighten($gray-lighter,15%);
  background: lighten($gray-lighter,15%);
  //background: $gray-darker;
  .cucu {
    //display: none;
    @include box-sizing('border-box');
    padding:1em 1em 4em;
    @include breakpoint($s2) {
      float:right;
      width:66%;
    }
    @include breakpoint($s3) {
      float:right;
      width:66%;
    }
  }
 }





.kezgyujtowrap {
  header{
    padding:1em;
  }
  .kezike {
    padding:1em 1em;
  }
 }

 .arlistawrap {
  article {
    margin:0 auto;
  }
  header{
    padding:1em;
  }
  .entry-content{
    padding:1em 1em;
  }
 }
