.nls {
    max-width: 600px;
    margin:0 auto;
}
/* MailChimp Form Embed Code - Classic - 08/17/2011 */
#mc_embed_signup {
  form {
    padding-left:0;
  }
  .mc-field-group {
      width: 100%;
  }
}

