.entry-side {
  @include box-sizing('border-box');
  padding:0 1em;
  @include breakpoint($s2) {
    float:left;
    width:34%;
  }
  @include breakpoint($s3) {
    float:left;
    width:34%;
  }
}

.entry-intro {
  font-size:1.75em;
  font-weight: bold;
  margin-bottom: 2em;

}

.entry-testimon {

}

.entry-actionblock {
  margin:1.5em 0 2em;
  font-size: 2em;
  font-style: italic;
  font-weight:800;
  color:$orange;
  text-transform: uppercase;
  line-height:1em;

  .tel, .online {
    margin:0.75em 0em;
    position:relative;
    padding-left:3em;
    display: block;
    color:$orange;
    text-decoration: none;
    display:block;
    &:hover, &:focus {
      color:darken($orange,20%);
    }

    &:hover:before, &:focus:before {
      background:darken($orange,20%);

    }

    &:before {
      @include box-sizing('border-box');
      position: absolute;
      left:0;
      //top:-0.25em;
      text-align: center;
      font-family: 'EntypoRegular';
      font-weight: normal;
      content:'\1F4DE';
      color:$white;
      background: $orange;
      font-size:2em;
      //padding-top:0.25em;
      line-height:1.2em;
      border-radius:1em;
      width:1.2em;
      height:1.2em;
    }
  }
  .tel {
    span {
      font-size:1em;
      font-weight: 300;
      display:block;
      margin-top:0.125em;
    }
  }

  .online {
    &:before {
      content:'\E789';
    }
  }

}

.entry-content {
  @include box-sizing('border-box');
  margin-bottom:8em;
  padding:1em 1em;
  @include breakpoint($s2) {
    float:left;
    width:66%;
  }
  @include breakpoint($s3) {
    float:left;
    width:66%;
  }
} 