.nav-main {
  //margin:0 auto;
  //max-width: $maximum;

  ul {
    font-size: 1.125em;
    list-style-type: none;
    padding:0;
  }
  li {
    @include box-sizing('border-box');
    display: block;
    text-align: center;
    width:50%;
    float:left;
    margin:0.66666667em 0;
    
    @include breakpoint($s1) {
      width:25%;
    }

    @include breakpoint($s2) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  
    @include breakpoint($s3) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  }



  a {
    padding:3px 3px;
    color:$gray-light;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.066666667em;
    &:hover, &:focus {
      color:$white;
      background: $gray-dark;
    }
  }

  .active a{
    color:$white;
    background: $gray-light;
    &:hover, &:focus {
    //  background: $gray-dark;
    }
  }
  

}



.nav-sub {
    background: $gray-light;
    padding:3% 1% 0;
    
    @include breakpoint($s2) {
      padding: 3% 0 0;
    }
    @include breakpoint($s3) {
      padding: 3% 0 0;
    }

    h3 {
      text-align: center;
      color:$white;
      //margin-bottom:0;
    }
  ul {
    font-size: 1.125em;
    list-style-type: none;
    padding:0;
    margin:0;
  }

  li {
    @include box-sizing('border-box');
    float:left;
    width:46%;
    margin:3% 2% 40px 2%;
    text-align: center;
    


    
    @include breakpoint($s1) {
      width:29%;
      //padding-top:31%;

    }

    @include breakpoint($s2) {
      width:16%;
      //padding-top:18%;
    }
  
    @include breakpoint($s3) {
      width:16%;
      //padding-top:18%;

    }



  }
  a {
    @include box-sizing('border-box');
    position: relative;
    bottom:0;
    display: block;
    padding-top:110%;
    color:$gray-darker;
    text-transform: uppercase;
    font-size:0.875em;
    font-weight: 700;
    text-decoration: none;

    
    &:before {
      content: "";
      position:absolute;
      top:0;bottom:0;
      right:0;left:0;
      display: block;
      height:0;
      padding-top:100%;
      background: $orange;
      border-radius: 50%;
      @include box-sizing('border-box');
      border:2px solid transparent;
    
    }
    &:hover:before, &:focus:before {
      border:2px solid $white;
    }
    &:hover, &:focus {
      color:$white;
    }
  }
  
  li.active a:after {
    content: "";
    display: block;
    position:absolute;
    left:35%;right:35%;
    bottom:-40px;
    width:0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid $white;

    

  }

  li:nth-child(2) a:before {
    background: $green;
  }
  li:nth-child(3) a:before {
    background: $gray-lighter;
  }
  li:nth-child(4) a:before {
    background: $gray;
  }
  li:nth-child(5) a:before {
    background: lightblue;
  }



}