.nav-main {
  //margin:0 auto;
  //max-width: $maximum;

  ul {
    font-size: 1.125em;
    list-style-type: none;
    padding:0;
  }
  li {
    @include box-sizing('border-box');
    display: block;
    text-align: center;
    width:50%;
    float:left;
    margin:0.66666667em 0;
    
    @include breakpoint($s1) {
      width:25%;
    }

    @include breakpoint($s2) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  
    @include breakpoint($s3) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  }

  
  a {
  padding:3px 3px;
  color:$gray-light;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.066666667em;
    &:hover, &:focus {
      color:$white;
      background: $gray-dark;
    }
  }

}