.nav-main {
  //margin:0 auto;
  //max-width: $maximum;
  //margin-top:4em;
  // .page-template-template-kezeles-php & {
  //   position: absolute;
  //   left:0; right:0;
  // }

  @include breakpoint($s1) {
    //margin-top:
  }

  @include breakpoint($s2) {
       margin-top:6.75em;
  }

  @include breakpoint($s3) {
    margin-top:7em;
  }

  ul {
    font-size: 1.125em;
    list-style-type: none;
    padding:0;
  }
  li {
    box-sizing:border-box;
    display: block;
    text-align: center;
    width:50%;
    float:left;
    margin:0.66666667em 0;
    
    @include breakpoint($s1) {
      width:25%;
    }

    @include breakpoint($s2) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  
    @include breakpoint($s3) {
      width:20%;
      &:nth-child(3) {
        margin-left:20%;
      }
    }
  }



  a {
    padding:3px 3px;
    color:$black;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.066666667em;
    &:hover, &:focus {
      color:$white;
      background: $gray-dark;
    }
  }

  .active a{
    color:$white;
    background: $gray-light;
    &:hover, &:focus {
    //  background: $gray-dark;
    }
  }
  

}


.nav-sub {
    box-shadow:$black 0 0 8px 3px inset;
    
    background: url('../img/subnav_bg_varo.jpg') no-repeat center center $gray-flat;
    background-size:cover;
    

    .parent-pageid-16 & {
      background: url('../img/subnav_bg_cassa.jpg') no-repeat center center $gray-flat;
      background-size:cover;
    }


  .wrapped {
    padding:3em 1em; 
    @include breakpoint($s2) {
      padding: 2em 0 0 0;
    }
    @include breakpoint($s3) {
      padding: 2em 0 0 0;
    }
  }

  h3 {
    text-align: center;
    color:$white;
    margin:0 0;
    text-shadow:$black 0 0 4px;

  }

  ul {
    //font-size: 1.125em;
    list-style-type: none;
    padding:0;
    margin:0 0;
    text-align: center;
  }

  li {
    box-sizing:border-box;
    float:left;
    width:46%;
    margin:3% 2% 3% 2%;
    text-align: center;
    


    
    @include breakpoint($s1) {
      width:29%;
      //padding-top:31%;

    }

    @include breakpoint($s2) {
      width:16%;
      //padding-top:18%;
    }
  
    @include breakpoint($s3) {
      width:16%;
      //padding-top:18%;

    }



  }
  a {
    box-sizing:border-box;
    display: block;
    color:$gray-lighter;
    text-transform: uppercase;
    font-size:0.875em;
    font-weight: 700;
    text-decoration: none;
    text-shadow:$black 0 0 4px;

    
    &:before {
      content: "";
      //line-height:8em;
      display: block;
      width:5em;
      height:5em;
      margin:0 auto 1em auto;
      background: $orange;
      border-radius: 50%;
      box-sizing:border-box;
      border:2px solid transparent;
      box-shadow:$black 0 0 8px;


    }
    &:hover:before, &:focus:before {
      border:2px solid $white;
    }
    &:hover, &:focus {
      color:$white;
    }
  }

  li.active a {
    color:$white;
    &:before {
      border:2px solid $white;
    }
  }
  
  li.active:after {
    content: "";
    display: block;
    position:absolute;
    //left:35%;right:35%;
    bottom:0;
    width:0;
    margin-left: 16%;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid $white;

    @include breakpoint($s1) {
      margin-left: 10.66666%;

    }

    @include breakpoint($s2) {
      margin-left: 5.66666%;
    }
  
    @include breakpoint($s3) {
      margin-left: 5.66666%;

    }

    

  }

  li.menu-arckezelesek a:before {
    background:url('../img/ikon_tukor.png') no-repeat center center $purple;
    background-size:100%;
    
  }
  li.menu-gepi-kezelesek a:before {
    background:url('../img/ikon_szaj.png') no-repeat center center $sand;
    background-size:100%;
  }
  li.menu-smink-es-tetovalas a:before {
    background:url('../img/ikon_spiral.png') no-repeat center center $skin;
    background-size:100%;
  }
  li.menu-szortelenites a:before, li.menu-szortelenitesek a:before {
    background:url('../img/ikon_szor.png') no-repeat center center $cyan;
    background-size:100%;
  }
  li.menu-egyeb-kezelesek a:before {
    background:url('../img/ikon_pumpa.png') no-repeat center center $sky;
    background-size:100%;
  }




}



.nav-post {
  box-sizing:border-box;
  padding:0 1em;


  margin-bottom: 4em;
  @include breakpoint($s2) {
    float:left;
    width:34%;
    position:absolute;
    bottom:0;
    margin-bottom:1em;

  }
  @include breakpoint($s3) {
    float:left;
    width:34%;
    position:absolute;
    bottom:0;
    margin-bottom:1em;

  }

  a{
    font-size: 0.75em;
    max-width:49%;
    display: inline-block;
    color:$gray-light;
    &[rel="prev"] {
      text-align: left;
      float:left;
    }
    &[rel="next"] {
      text-align: right;
      float:right;
    }
    &:hover, &:focus {
      text-decoration: none;
      color:$gray-darker;
    }
  }
}

.breadcrumb {
  margin-top: 1em;
  font-size: 0.875em;
  font-weight: bold;
  @include breakpoint($s1) {
    margin-top:2em;
  }

  @include breakpoint($s2) {
    margin-top:5em;
  }
  @include breakpoint($s3) {
    margin-top:5em;
  }
  .breadcrumb_last {
    display:none;
  }

  a {

    text-decoration: none;
    color:$gray;
    padding:1px 3px;
    
    &:hover, &:focus {
      color:$white;
      background: $gray;
    }
  }
}

