.entry-related {
  margin-bottom:8em;
      
   //display: inline-block; 
   //border-top: 1px solid lighten($gray-lighter,15%);
   //padding:1em;
   //background: lighten($gray-lighter,15%);
  h3 {
    //text-align: center;
    margin:0.5em 0;
  }
  ul {
    margin:0;
    padding:0;
    list-style-type: none;
  }
  li {
    margin:0;
    padding:0;

    border-top: 1px solid $white;
    border-bottom: 1px solid lighten($gray-lighter,10%);
    &:last-child {
        border-bottom: 0px;
    }
    &:first-child {
        border-top: 0px;
    }
    a {
      display:block;
      color:$gray-light;
      text-decoration: none;
      padding:0.5em 0 0.5em 0;
      
      &:hover, &:focus {
        color:$gray-darker;
      }
    }
  }


}


.entry-content {

   .updated{
      font-style: italic;
      display: block;
    }
    .hcat {
      float:left;
      margin-bottom: 0;
      margin-top:0.5em;
      margin-right:0.5em;
      //font-size:0.875em;
    }
    .entry-title {
      margin-bottom: 0.125em;
      font-size:2em;
    
      
    }
  .entry-meta {
    //margin:2em 0 2em;
   
    .byline {
      display:inline;
      margin:0;
      font-size: 0.875em;
      font-style: italic;
     
      a {
        font-style: normal;
        color:$gray-light;
        font-size: 1.5em;
        font-weight: 700; 
        &:hover, &:focus {
          color:$gray-darker;
          text-decoration: none;
        }
      }

    }
  }
}

.entry-side {
  .entry-meta {
    text-align:center;
    margin:2em 0 2em;
    .updated{
      //font-size: 0.875em;
      //font-style: italic;
      font-variant:small-caps;
      margin-bottom: 2em;
    }
    .byline {
      margin-top:0;
      font-size: 0.875em;
      font-style: italic;
     
      a {
        font-style: normal;
        color:$gray-light;
        font-size: 1.5em;
        font-weight: 300; 
        &:hover, &:focus {
          color:$gray-darker;
          text-decoration: none;
        }
      }

    }
  }

  .entry-categories {
    margin-top:2em;
  }
}


.sharing {
  text-align: center;
  margin-bottom:3em;
  .face, .gplus, .twitter {
    display:inline-block;
    width:1.75em;
    height:1.75em;
    border-radius: 50%;
    text-decoration:none;
    margin:0 0.125em;
    box-sizing:border-box;
  
    font-size:1.25em;
    line-height: 1.75em;
    text-align: center;
    
    position:relative;
    background-color: $gray-lighter;
    color:$white;
    
    &:hover, &:focus {
      background-color:$gray-darker;
    }
  
    i{
      line-height: 1.75em;
    }
  }
  
  
  
}

.entry-categories{
  margin-bottom: 0.5em;
  a {
    text-transform: uppercase;
    background:$gray;
    color:$white;
    padding:0.25em 0.5em;
    display: inline-block;
    font-weight: bold;
    &:hover, &:focus {
      //color:$gray-darker;
      background: $gray-lighter;
      text-decoration: none;
    }
    
    .category-akcio & {
          background: $purple;
    }
  }
}
.entry-tags {
  //text-align: left;
  ul {
    margin:0;
    padding:0;
    list-style-type: none;
  }

  li{
    font-size:0.75em;
    display:inline-block;
    margin:0; padding:0;
  }

  a {
    display: inline-block;
    padding:0.25em 0.5em;
    border:1px solid lighten($gray-lighter,15%);
    margin:0.125em;
    color:$gray-light;

    &:hover, &:focus {
      color:$white;
      text-decoration: none;
      background:$gray; 
    }
  
  }
}


.tovabbiak {
  background: $gray;
  color:$white;
  font-size:0.875em;
  padding-bottom:4em;

  a {
  color:$orange;
  &:hover, &:focus {
      color:$green;
    }
  }
  h2 {
    text-align:center;
  }

  .tovkez {
    box-sizing:border-box;
    position:relative;

    margin:2em 6%;
    padding:0 4em 2em 0;
    border-bottom: 1px solid $gray-dark;
    @include breakpoint($s2) {
      margin:1em 3%;
      width:44%;
      float:left;
      &:nth-child(2n) {
        clear:left;
      }
    }

    @include breakpoint($s3) {
      margin:1em 3%;
      width:44%;
      float:left;
      &:nth-child(2n) {
        clear:left;
      }
    }


    &:after {
        content:'';
        position:absolute;
        left:0;bottom:0;right:0;
          border-top: 1px solid $gray-darker;
    }



    h3{
      font-size: 1.25em;
      text-transform: none;
      font-weight: 700;
      margin:0 0;
      a{
        color:$white;
        &:hover, &:focus {
          text-decoration: none;
          color:$green;

        }

      }

    }
    p {
      margin-top:0.5em;
    }
    .read-more {
      background: $orange;
      color:$gray;
      display: block;
      position:absolute;
      right:0;
      top:0.0666667em;
      //box-sizing:border-box;
      font-size: 2em;
      line-height:1.5em;
      text-align:center;
      width:1.5em;
      height:1.5em;
      border-radius:50%;
      &:hover, &:focus {
        background:$green;
        text-decoration: none;
      }
      i {
        //display: block;
        //font-size: 0.75em;
        //width:1em;
        //height:1em;
         line-height:1.5em;
        

      }
    }

  }
  
  .more {
    display: block;
    color:$green;
    font-weight:bold;
    font-style: italic;
    margin:2em 6% 4em 6%;
    &:hover, &:focus {
      text-decoration:underline;
      //color:darken($green,10%);
      color:darken($orange,20%);
    }
    @include breakpoint($s2) {
          float:left;
          text-align: right;
          width:44%;
          margin:2em 3% 4em 3%;
    
    }
    @include breakpoint($s3) {
          float:left;
          text-align: right;
          width:44%;
          margin:2em 3% 4em 3%;
    
    }

  }

}

.sidebarwrap {
  
  background: $gray-dark;
  //background: lighten($gray-lighter,15%);
  color:$white;
  font-size:0.875em;
  padding-bottom:1.25em;

  a {
  color:$orange;
  &:hover, &:focus {
      color:$green;
    }
  }
  
  .widget {
    box-sizing:border-box;
    padding:1em 1em;
    @include breakpoint($s3) {
      width:33%;
      float:left;
    
    }
  }

}

.widget_categories{
  ul {
    list-style-type: none;
    margin:0;
    padding:0;
  }
  li{
    margin:0;
    padding:0;
  }
  a {
    position: relative;
    display:block;
    //background: $gray-lighter;
    padding:0.3333em 0em;
    border-bottom: 1px solid $gray-light;

    font-size:1.25em;
    text-transform: uppercase;
    font-weight: 700;
    color:$white;
    &:after {
        content:'';
        position:absolute;
        left:0;bottom:0;right:0;
        border-top: 1px solid $gray-darker;
    }

    &:hover, &:focus {
      color:$green;
      text-decoration: none;
    }

  }


  li:last-child a {
    border-bottom:0;
    &:after {
      content:none;
    }
  }
}


.widget_search {
  label {
    display: none;
  }

  .csipi {
    background: $gray-light;
    padding:0.5em;
  }
  input[type="text"] {
    box-sizing:border-box;
    display: block;
    float: left;
    font-size: 1.125em;
    color:$gray;
    border:0;
    height:40px;
    width:70%;
    padding:0.25em 0.5em;
  }
  input[type="submit"] {
    box-sizing:border-box;
    display: block;
    float:left;
    font-size: 1.5em;
    border:0;
    height:40px;
    width:30%;
    font-size: 1em;
    background: $green;
    color: $white;
    }
}

