.btn{
    @include box-sizing('border-box');
    border:0;
    position:relative;
    display: inline-block;
    text-decoration: none;
    background: $gray;
    font-size: 1.25em;
    letter-spacing: 1px;
    //font-weight: 700;
    text-transform: uppercase;
    color:$white;
    padding:0.5em 0.5em 0.5em 0.5em;
    &:hover, &:focus {
      background:$gray-darker;
      color:$white;
      text-decoration: none;
    } 
}