/*============= color definition =================*/

$white:#ffffff;

$gray-darker:#4e4e4e;
$gray-dark:#5d5d5d;
$gray:#58595b;
$gray-light:#747474;
$gray-lighter:#cccccc;


$orange:#ecc4aa;

$green:#99cc00;



/****************** breakpoints definition ***********/

$s1:480px 767px;
$s2:768px 1023px;
$s3:1024px;

$maximum:1100px;








// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}