/*============= color definition =================*/

$white:#ffffff;

$black:#181818;



$gray-darker:#4e4e4e;
$gray-dark:#5d5d5d;
$gray:#58595b;
$gray-flat:#272727;
$gray-light:#747474;
$gray-lighter:#cccccc;


$orange:#ecc4aa;
$green:#99cc00;
$white-light:#fef4e2;

$purple:rgb(231, 190, 240);
$sand:rgb(236, 231, 170);
$skin: rgb(236,196, 170);
$cyan: rgb(170, 236, 234);
$sky:rgb(170, 207, 236);
$tutor:#aaecb3;

$gray-new: #23282d;
$berry: #b83d70;



/****************** breakpoints definition ***********/

$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;

$maximum:1100px;

$experimental-support-for-svg: true;






// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}
@mixin bp($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin hide-text() {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
// New mixin to use as of v3.0.1
@mixin text-hide() {
  @include hide-text();
}

//
// Component animations
// --------------------------------------------------

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.in {
    display: block;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}
