/*============= color definition =================*/

$white:#ffffff;

$gray-darker:#4e4e4e;
$gray-dark:#5d5d5d;
$gray:#58595b;
$gray-light:#747474;
$gray-lighter:#cccccc;


$orange:#ecc4aa;

$green:#99cc00;