@import "normalize";
@import "variables";
@import "ionicon";
@import "typography";
@import "base" ;
@import "header";
@import "navigation";
@import "home";
@import "contact";
@import "mailchimp";
@import "main";
@import "sidebar" ;
@import "footer";
@import "gallery";
@import "magnific";


/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
.entry-content{
   .aligncenter {
      display: block;
      margin: 0 auto; 
   }
   .alignleft { 
      display: block;
      @include breakpoint($s1){
         float: left;
         display: inline-block;
         margin-right: 1em;
         margin-bottom: 1em; 
      }
    }
   .alignright { 
         display: block;
      @include breakpoint($s1){
         float: right;
         display: inline-block;
         margin-left:1em;
         margin-bottom: 1em;  
      }
   }
}
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
